<!DOCTYPE html>
<html>
<head>
    <title>Cloud Upload App</title>

    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        form {
            margin-top: 20px;
        }

        button {
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <h1>Cloud File Upload App</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="file">

        <button type="submit">Upload</button>

    </form>

</body>
</html>